@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --foreground: #282828;
  --background: #f9f6ef;
  --shade: #dadbdf;
  --dark: #252736;

  --primary-500: #b69dff;
  --primary-600: #9b7aff;
  --primary-700: #7d52ff;

  --secondary-500: #d6ff70;
  --secondary-600: #c8ff3c;
  --secondary-700: #b7ff00;

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 2.5rem;
  --fs-6xl: 3rem;

  --heading-font: "Playfair Display", serif;
  --body-font: "Prompt", serif;
}

::selection {
  color: white;
  background: var(--primary-700);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-700);
}
::-webkit-scrollbar-thumb {
  border-radius: 100vw;
}

html {
  color: var(--foreground);
  background-color: var(--background);
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  min-height: 100svh;
  padding-block: 1.5rem;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

button {
  all: unset;
  cursor: pointer;
}
button:active {
  scale: 0.98;
}

/* ROUNDED BORDER RADIUS */
.game__display,
[data-testid="colorBox"],
[data-testid="colorOption"] {
  border-radius: 50%;
}

/* MARGIN BOTTOM */
.game__details,
.game__instructions {
  margin-bottom: auto;
}

/* SQUARE ASPECT RATIO */
[data-testid="colorBox"],
[data-testid="colorOption"] {
  aspect-ratio: 1/1;
}

/* DISPLAY FLEX */
main,
.game__details,
.game__scores,
.game__scores p,
footer {
  display: flex;
}

.title {
  font-family: var(--heading-font);
  font-weight: 900;
}
.title__dot {
  color: var(--primary-700);
}

main {
  min-height: calc(100svh - 8.5rem);
  padding-bottom: 2.5rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.game__display {
  position: relative;
  padding: 4.5rem;
  /* border: 1px solid var(--primary-500); */
}

.game__options-container {
  position: absolute;
  inset: 0;
}

[data-testid="colorBox"] {
  width: 14rem;
  background-color: var(--primary-500); /* DEFAULT COLOR */
  border: 1px solid var(--shade);
}
[data-testid="colorOption"] {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  width: 4.5rem;
  transform: translateX(-50%);
}
[data-testid="colorOption"]:nth-child(2) {
  top: 30%;
  left: 8.5%;
  transform: translateY(-50%);
}
[data-testid="colorOption"]:nth-child(3) {
  top: 30%;
  left: auto;
  right: 8.5%;
  transform: translateY(-50%);
}
[data-testid="colorOption"]:nth-child(4) {
  top: auto;
  left: auto;
  right: 8.5%;
  bottom: 14%;
  transform: translateY(-50%);
}
[data-testid="colorOption"]:nth-child(5) {
  top: auto;
  left: 8.5%;
  bottom: 12%;
  transform: translateY(-50%);
}
[data-testid="colorOption"]:nth-child(6) {
  top: auto;
  bottom: 0.5rem;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .game__display {
    padding: 6rem;
  }
  [data-testid="colorBox"] {
    width: 20rem;
  }
  [data-testid="colorOption"] {
    width: 6.5rem;
    top: 0.825rem;
    /* background-color: var(--secondary-500); */
  }
  [data-testid="colorOption"]:nth-child(4) {
    right: 8%;
    bottom: 15%;
  }
  [data-testid="colorOption"]:nth-child(5) {
    left: 8%;
    bottom: 15%;
  }
}

[data-testid="gameInstructions"] {
  font-family: var(--heading-font);
}

.game__details {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 768px) {
  .game__details {
    flex-direction: row;
  }
}
.game__details p:has([data-testid="score"]) {
  margin-top: 0.5rem;
}

.game__scores {
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.game__scores > div {
  width: 100%;
  max-width: 10rem;
}
.game__scores p {
  justify-content: space-between;
  gap: 2rem;
}
@media (min-width: 768px) {
  .game__scores {
    width: fit-content;
  }
  .game__scores p {
    font-size: var(--fs-md);
  }
}

.game__direction {
  color: var(--dark);
}

.game__instructions {
  max-width: 22rem;
  text-align: center;
}
.game__instructions h2 {
  margin-bottom: 1rem;
}
.game__instructions p {
  font-size: var(--fs-md);
}
@media (min-width: 768px) {
  .game__instructions {
    max-width: 30rem;
  }
  .game__instructions p {
    font-size: var(--fs-lg);
  }
}

[data-testid="newGameButton"] {
  padding: 0.825rem 2rem;
  background-color: var(--secondary-500);
  border-radius: 0.125rem;
  white-space: nowrap;
}
[data-testid="newGameButton"]:hover {
  background-color: var(--primary-500);
}
@media (min-width: 768px) {
  [data-testid="newGameButton"] {
    font-size: var(--fs-md);
  }
}
.game__start {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.game__color-option__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transform-origin: center;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.game__option--hidden {
  visibility: hidden;
}

.game__option__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center;
  box-shadow: var(--tw-shadow);
  border: 1px solid var(--shade);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.game__option__inner--wrong {
  animation: bouncyScaleCentral 0.6s ease-in-out forwards;
}

@keyframes bouncyScaleCentral {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

footer {
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  footer {
    justify-content: flex-start;
  }
}

.footer__text {
  font-weight: 600;
  font-size: var(--fs-md);
  font-style: italic;
  font-family: var(--heading-font);
  text-transform: uppercase;
}
.footer__stamp > span {
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.5rem 0.625rem;
  margin-right: 0.25rem;
}
.footer__stamp > span::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-500);
  transform: skewX(-12deg);
  transform-origin: left;
  z-index: -1;
  animation: blink-bg 0.5s infinite linear 500ms;
}
@keyframes blink-bg {
  0%,
  100% {
    background-color: var(--primary-500);
  }
  50% {
    background-color: var(--secondary-700);
  }
}

.game__status,
.game__status--wrong,
.game__status--correct {
  font-size: var(--fs-lg);
}

.game__status--wrong {
  color: red;
}
.game__status--wrong-anim {
  animation: shake 0.2s;
}
.game__status--correct {
  color: green;
  animation: fadeIn 0.5s cubic-bezier(1, -0.04, 0, 1.16);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

/* LAYOUT CLASS */
.layout {
  --padding-inline: 1.5rem;
  --content-max-width: 60rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr);
}
.layout > * {
  grid-column: content;
}
